<div class="col s12 rowDiv" ngx-auto-scroll lock-y-offset="10" observe-attributes>
  <div class="row">
    <div class="col s12">
      <div *ngFor="let message of messagesList">
        <div *ngIf="user.username === sender" class="right chat-bubble">
          <div>{{message}}</div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div style="margin-top: 250px">
        <input #inputMsg type="text" (change)="send()" (keypress)="isTyping(true); timer=5;" (keyup)="isTyping(false)">
      </div>
      <div class="col s10">
        <span *ngIf="typing" id="typing">{{sender}} is typing...</span>
      </div>
      <div class="col s3">
        <button class="btn" (click)="Toggled()">😄</button>

        <div class="emoji-content-editable" (emojiPickerCaretEmitter)="HandleCurrentCaret($event)" (input)="content = $event.target.textContent"
          [textContent]="content" contenteditable="true">
        </div>

        <i class="emoji-toggle-button" [(emojiPickerIf)]="toggled"
        [emojiPickerPreserveSelection]="false" [emojiPickerDirection]="direction" [emojiPickerAutofocus]="true"
        (emojiPickerSelect)="handleSelection($event)"></i>
      </div>
      <div class="col s1">
        <button style="float:right;" class="btn" (click)="send()">Send</button>
      </div>
    </div>
  </div>
</div>