.valign-wrapper {
  background: #64b5f6;
  height: 50px;
  border-radius: 10px;
}

.chat-bubble {
  display: inline-block;
  border-radius: 12px;
  box-shadow: 5px 6px #8888;
  margin-bottom: 7px;
  padding: 4px;
  clear: both;
}

.rowDiv {
  background: #ffffff !important;
  height: 61vh !important;
  max-height: 62vh !important;
  overflow-y: scroll !important;
  top: 0px;
  margin-top: -20px !important;
}

.sender {
  background-color: rgb(116, 212, 164);;
  border: 1px rgb(39, 78, 13) solid;
}

.receiver {
  background-color: rgb(103, 210, 224);;
  border: 1px rgb(14, 74, 152) solid;
}

#typing {
  font-style: italic;
  opacity: 0.5;
}

#receiverName {
  color: white;
  font-size: 25px;
}

.emojiDiv {
  width: 40px !important;
  margin-bottom: 0px !important;
}

.emojiBtn {
  font-size: 20px !important;
  background: inherit !important;
  border: none !important;
  text-align: center !important;
  margin-left: -10px !important;
}

.emojiDiv {
  width: 40px !important;
  margin-bottom: 0px !important;
}