.flex-wrapper {
  display: flex;
  flex-direction: column;
  float: left;
}

.unread {
  background-color: red;
  color: white;
  border-radius: 50%;
  line-height: 15px;
  width: 15px;
  display: inline-block;
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}