<div class="container">
  <h3>Sign Up</h3>
  <form [formGroup]="signupForm" novalidate (ngSubmit)="signupUser()">
    <div class="row">
      <div class="input-field col s6">
        <input formControlName="username" type="text" 
              autocomplete="off" placeholder="Your name">
      </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input formControlName="email" type="email" 
              autocomplete="off" placeholder="E-mail">
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input formControlName="password" type="password" autocomplete="off" 
              id="password-signup" placeholder="Password">
        </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
          <label><input type="checkbox" (click)="showPassword()"> Show password</label>
      </div>
    </div>

    <button style="margin-top: 15px;" class="btn waves-effect waves-light" id="signupbtn"
    type="submit" [disabled]="!signupForm.valid">Sign Up
      <i class="material-icons right">send</i>
    </button>
  </form>

</div>
